html {
	--scrollbarBG: #cfd8dc;
	--thumbBG: #90a4ae;
}

.App {
	font-family: "Muli", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

.leaflet-container {
	width: 100%;
	height: 100vh;
	z-index: 0;
}

.spatial-list-container::-webkit-scrollbar {
	width: 9px;
}
.spatial-list-container::-webkit-scrollbar-track {
	background: rgb(221, 221, 221);
	border-radius: 5px;
}
.spatial-list-container::-webkit-scrollbar-thumb {
	background-color: rgb(95, 95, 95);
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.335);
}
.spatial-list-container {
	position: absolute;
	bottom: 15px;
	scrollbar-width: thin;
	scrollbar-color: rgb(95, 95, 95) rgb(216, 216, 216);
	display: inline-block;
	max-height: 80vh;
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid rgb(184, 184, 184);
	border-radius: 6px;
	padding: 0;
	margin: 20px;
	color: rgb(93, 93, 93);
	background-color: white;
	z-index: 99;

	h3 {
		padding: 10px 10px 20px 10px;
		margin: 0;
		position: sticky;
		top: 0px;
		background-image: linear-gradient(white, white 80%, rgba(255, 255, 255, 0));
		z-index: 999;
	}

	ul {
		padding: 0;
		margin: 0 0 30px 0;

		li.spatial-row {
			// display: flex;
			padding: 3px 10px;
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			-o-transition: all 0.5s ease-out;
			-ms-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			// transition-delay: 0.3s;
			padding-bottom: 3px;
			cursor: pointer;
			* {
				margin: auto 3px;
			}
			.row-header {
				display: flex;
				flex-direction: row;
				align-items: baseline;
				align-content: center;
				justify-content: flex-start;
				p {
					opacity: 0.6;
					font-size: 0.7em;
				}
				.color-sample {
					width: 16px;
					height: 16px;
					box-sizing: border-box;
					border: 1px solid rgba(0, 0, 0, 0.3);
					border-radius: 2px;
					background-image: linear-gradient(
						#ffffffad,
						#0000001e 35%,
						#0000001f 3%,
						#ffffff4b
					);
				}
			}
			.row-content {
				max-width: 200px;
				padding: 10px 10px 20px 10px;
				margin: 0 0 3px 12px;
				border-left: 1px solid rgba(0, 0, 0, 0.3);
				transition: all 0.3s ease-out;
			}
		}
		.spatial-row:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}

// Map-Edit-Tool
.sr-only {
    display: none;
  }


// Helpers

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
